
.bg-custom {
    background-color: rgba(211, 211, 211, 0.082); 
}

.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
.btn-custom {
    background-color: rgb(129, 207, 233);
    color: black 
}
