
.bg-custom {
    background-color:#f1aeb56c; 
}

.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-top: 08%;
    margin-right: auto;
    margin-left: auto;
}
.card{
    background-color: #f1aeb5b0;
}

.btn-custom {
    margin-right: 30px;
    background-color: #dd9ca3;
    color: black 
}
.container{
    padding-top: 08%;
}