
.bg-custom {
    background-color:#f1aeb56c; 
}
.alert-background{
    margin-top: 10%;
    text-align: center;
    width: 30%;
    padding-top: 01%;
    padding-bottom: 02%;
    margin-right: auto;
    margin-left: auto;
    color: black;
    background-color: #f1aeb5b0;
}
h3{
    margin-top: 0;
}

.btn-custom {
    margin-right: 30px;
    background-color: #dd9ca3;
    color: black 
}
.container{
    padding-top: 9%;
}